/* CSS Document */
@charset "utf-8";
ul {
    list-style-type: none;
    padding: 20px;
    margin: 10px;
}

ul li {
    background-image: url(../images/list.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    padding-left: 20px;
}